
<div class="dashboard">
	<ul class="game_list">
		<li class="header">
			<span class="headerTitle">Name</span>
			<span>Players</span>
		</li>
		<li ng-repeat="game in games" ng-click="joinGame(game)">
			<div class="hover_block"></div>
			<div class="joined_block"></div>
			<span class="title">{{game.title}}</span>
			<span>{{game.players.length}} players</span>
			<span>Join</span>
		</li>
	</ul>

	<div class="newGameWindow" ng-hide="newGameWindow_hidden">
		<img src="../images/cross.png" ng-click="newGameWindow_hidden = true"/>
		<div class="center_wrapper">
			<h1>New game</h1>
			<input type="text" placeholder="Titel" ng-model="newGame.title"></input>
			<div class="amountOfPlayers_container">
				<input type="text" placeholder="Min players" ng-model="newGame.minPlayers"></input>
				<input type="text" placeholder="Max players" ng-model="newGame.maxPlayers"></input>
				<div style="clear:both"></div>
			</div>

			<button ng-click="createNewGame()">Add game</button>
		</div>
	</div>

	<div class="addGame" ng-click="openNewGame()"></div>
</div>


